:root {
  --primary: #ffffff;
  --secondary: #091126;
  --third: #bababa;
  --button: #373737;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-image: linear-gradient(120deg, var(--primary), var(--secondary));
}

#header-img {
  width: 10vw;
  object-fit: contain;
  padding-left: 0.5vw;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 98vw;
  top: 0;
  padding: 0.4vw;
}

.nav-links {
  display: flex;
  list-style: none;
  color: var(--primary);
  font-size: 1.35rem;
  font-family: "montserrat", sans-serif;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  padding: 0 0.5vw;
  cursor: pointer;
  color: var(--primary);
}

.logo-container {
  display: flex;
  align-items: center;
}

.the-group {
  font-size: 20px;
  margin-left: 0.35vw;
  font-weight: 700;
  font-family: "montserrat";
  margin-top: 3vh;
}

#welcome-section {
  margin-top: 100px;
  border: #091126;
}

.left-inner {
  font-weight: 700;
  font-family: "montserrat";
  width: auto;
  float: left;
  margin-left: 0.35vw;
}

.right-inner {
  margin-top: -15px;
  width: auto;
  float: right;
}

#button {
  height: 50px;
  width: 160px;
  background-color: transparent;
  color: white;
  border: solid 2px #9bd53a;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "montserrat";
  box-shadow: inset 0 0 0 0 #63930f;
  transition: ease-out 0.25s;
}

#button:hover {
  border: solid 2px #63930f;
  box-shadow: inset 160px 0 0 0 #63930f;
}

#button-two {
  height: 50px;
  width: 125px;
  background-color: #9bd53a;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "montserrat";
  box-shadow: inset 0 0 0 0 #63930f;
  transition: ease-out 0.25s;
}

#button-two:hover {
  box-shadow: inset 125px 0 0 0 #63930f;
}

section::before {
  display: block;
  content: " ";
  margin-top: -100px;
  visibility: hidden;
  pointer-events: none;
}

section {
  margin: 40px 20px;
  text-align: center;
}

h2 {
  font-family: "fraunces";
  margin-bottom: 10px;
}

.fa {
  text-decoration: none;
  color: var(--secondary);
  padding: 0.5rem;
  font-size: xx-large;
}
