:root {
  --primary: #ffffff;
  --secondary: #091126;
  --third: #bababa;
  --button: #373737;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-image: linear-gradient(120deg, var(--primary), var(--secondary));
}

#header-img {
  width: 10vw;
  object-fit: contain;
  padding-left: 0.5vw;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 98vw;
  top: 0;
  padding: 0.4vw;
}

.nav-links {
  display: flex;
  list-style: none;
  color: var(--primary);
  font-size: 1.35rem;
  font-family: "montserrat", sans-serif;
}

.nav-links a {
  text-decoration: none;
  padding: 0 0.5vw;
}

.logo-container {
  display: flex;
  align-items: center;
}

.the-group {
  font-size: 20px;
  margin-left: 0.35vw;
  font-weight: 700;
  font-family: "montserrat";
  margin-top: 3vh;
}

#contact-section {
  margin-top: 125px;
}

#button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 20px;
  font-weight: 700;
  font-family: "montserrat";
}

section::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

section {
  margin: 40px 20px;
  text-align: center;
}

h2 {
  font-family: "fraunces";
  margin-bottom: 10px;
}
